<ul>
    <li><img src="../assets/angular.png" width="50"></li>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/flights/flights-search">Flights</a></li>

    <li><a routerLink="/react">React</a></li>
    <li><a routerLink="/angular1">Angular 1</a></li>
    <li><a routerLink="/angular2">Angular 2</a></li>
    <li><a routerLink="/angular3/a">Angular 3</a></li>
    <li><a routerLink="/vue">Vue</a></li>
    <li><a routerLink="/angularjs">AngularJS</a></li>
 
</ul>

<router-outlet></router-outlet>

