<div id="container">

    <h1>My Tickets</h1>

    <div class="ticket-container">
        <div class="ticket">GRZ - VIE</div>
        <div class="ticket">GRZ - FRA</div>
        <div class="ticket">FRA - HAM</div>
        <div class="ticket">FRA - BER</div>

        <div class="ticket">FRA - MUC</div>
        <div class="ticket">MUC - GRZ</div>
        <div class="ticket">VIE - MUC</div>
        <div class="ticket">MUC - HAM</div>
        <div class="ticket">SBG - BER</div>
        <div class="ticket">BER - GRZ</div>

    </div>
</div>